/* var */
:root {
  --color-1--: rgb(51, 51, 51);
  --color-2--: rgb(196, 207, 217);
  --color-3--: rgb(34, 34, 34);
  --color-4--: rgb(63, 63, 63);
  --color-black--: rgb(0, 0, 0);
  --color-white--: rgb(255, 255, 255);
}
